
.filter{
    display:flex;
    justify-content:start;
    width:100%;
    background-color: var(--color-background);
    height:60px;
    border-radius:8px;
    gap:5%
    
}
.filter .left{
    width:30%;
    display:flex;
    padding:5px;
    gap:5px;
    align-items: center;
    
}

.left .box{
    background-color:var(--color-chocolate);
    width:20px;
    height:100%;
}
.left .text{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.text h3{
    font-size:1.2rem;
    font-weight:400;
    color:#574b3e
}
/* styling the right section*/
.filter .right{
    width:70%;
    display:flex;
    gap:1rem;
    align-items:center;
}
.right select{
    width:30%;
    height:80%;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: var(--color-fade);;
    color:rgb(131, 131, 131);
    font-weight: 600;
}
@media screen and (min-width:751px){
    
.filter{
    display:flex;
    justify-content:start;
    width:100%;
    background-color: var(--color-background);
    height:60px;
    border-radius:8px;
    gap:5%;
    
    
}
   

}
