.navigation{
    background-color:  var(--color-fade);
    display:flex;
    align-items: center;
    height:70px;
    z-index: 2;
    width: 100vw;
    border-bottom: 2px solid var(--color-fade);
}
/* styling left nav*/
.navigation .navLeft{
    display:flex;
    align-items: center;
    width:40%;
}
.navigation .navLeft h2{
    padding-left: 20px;
    width:40%;
    font-size: 2rem;
    color:var(--color-chocolate)

}

.navigation .navLeft .navigationLinkContainer{
    display:flex;
    justify-content: space-between;
    width:40%;
    align-items: center;
    z-index: 2;
}
.navigation .navLeft .navigationLinkContainer p{
    font-size: 1.1rem;
    font-weight: 400;
    border:1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:2px;
    padding:10px
}
.navigation .navLeft .navigationLinkContainer .category{
    border:none;

}
.navigation .navLeft .navigationLinkContainer p:hover{
    background-color: var(--color-chocolate);
    color:white
}
/*  category styles */
.navigation .navLeft .navigationLinkContainer div{
    position:relative

}
.navigation .navLeft .navigationLinkContainer div.submenu{
    position:absolute;
    top:100%;
    left:0%;
    background-color: var(--color-chocolate);
}
.navigation .navLeft .navigationLinkContainer div.submenu p{
    border:1px solid rgb(218, 218, 218);
    width:150px;
    color: white;
}

.active{
    background-color: var(--color-chocolate);
    color:white

}
/* styling right nav*/
.navigation .navRight{
    display:flex;
    width:60%;
    align-items: center;
    
}
/*   styling search */

.navigation .navRight .searchCon{
    width:50%;
    height:45px;
}
.searchCon input{
    width:80%;
    height:100%;
    background-color: var(--color-fade);
}
.searchCon button{
    width:20%;
    height:130%;
    background-color: var(--color-fade);
}

.navigation .navRight .iconContainer{
    width:50%;
    display:flex;
    justify-content: space-around;

}

/*  signup */
.navigation .navRight .iconContainer .signupContainer{
    border:1px solid var(--color-chocolate);
    display:flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height:50px;
    
    border-radius: 2px;
}
.navigation .navRight .iconContainer .signupContainer div h3{
    color:var(--color-chocolate);
    font-weight:400
}
/* styling toggle menu*/
.navigation .navRight .togglemenu{
    display:none
}
/*  sidebar */
.sideBar{
    display:none
}
#mobilemenu{
    display:none
}
/* sidebar */
.sideBar{
    display: none;
}
.sideBar label{
    color:white;
    border-radius: 2px;
    display: flex;
    height:60px;
    width:50px;
    align-items: center;
    justify-content: center;
    margin:10px;
    justify-self: flex-start;
    align-self: flex-start;
}
.sideBar div{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    align-items: center;
    background-color: var(--color-background);
}
.sideBar div p{
    width:100%;
    height:70px;
    border-radius: 5px;
    color:var(--color-chocolate);
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: var(--color-fade);
    font-size: 1.1rem;
    border: 1px solid var(--color-background);
}
.sideBar div p:hover{
    background-color: var(--color-chocolate);
    color:white
}


/*   extra small */
@media screen and (min-width:0px) and (max-width:700px){
    .navigation{
        display:flex;
        justify-content: space-between;
    }
    /* styling left nav*/
    .navigation .navLeft{
        display:none;
    }
    /* styling right nav*/
    .navigation .navRight{
        width:100vw;
        display:flex;
        height:100%;
    }

    /* styling toggle menu*/
.navigation .navRight .togglemenuContainer{
   width:20%;
   margin-right:5px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.navigation .navRight .togglemenuContainer .togglemenu{
    display:flex;
    width:50px;
    height: 50px;
    color:var(--color-chocolate);
    align-items: center;
    justify-content:center;
    border-radius: 2px;
    padding-left:2px;
}
 /*  search container */
 .navigation .navRight .searchCon{
     width:80%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

    /*  signup */
.navigation .navRight .iconContainer .signupContainer{
    display: none;
}

/*icon container */
.navigation .navRight .iconContainer{
    width:0%;
    display: none;

}

.navigation .navRight .iconContainer .cartContainer:nth-of-type(1){
    display:none
}

/* toggler */
.sideBar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:-700px;
    border-right:1px solid white;
    background-color: var(--color-background);
    left:0px;
    transition:all 3s ease;
    z-index:3;
    width:100vw;
    height:50vh;
    align-items: center;
}
.mobilemenu:checked~ .sideBar{
    top:0px;
    

}




}


