.product_ads{
    padding:20px;
    padding-top: 0px;
    padding-bottom:0px;
    width:240px;
    height:340px;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    margin-bottom: 2px;
    margin-right: 20px;
}

.propertyImage{
    width:240px;
    height:200px;
    border-radius:5px;
    align-self: center;
    background-color: var(--color-chocolate);

}
.buttons_container{
    display: flex;
    gap:1rem;
    padding-top:10px;
    padding-bottom:10px;
    justify-content: center;
    
}
.chat1{
    width:200px;
    border-radius:2px;
    background-color:var(--color-fade);
    color:var(--color-chocolate);
    border-radius:10px;
    height:50px;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.chats2{
    width:60px;
    border-radius:2px;
    background-color:var(--color-fade);
    color:var(--color-chocolate);
    border-radius:10px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.chats2 span{
    font-size: 2rem;

}
.chat1 span{
    font-size: 2rem;

}
.type{
    align-self:center;
    margin-bottom: 5px;
    font-weight:500;
    color:var(--color-chocolate);

}
.amount{
    display: flex;
    justify-content: space-around;
}
.price{
    font-size:1rem;
    color:rgb(189, 142, 125);
    display:flex;
    align-items: center;
    justify-content: center;
}
.discount{
    text-decoration:line-through;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
